<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login - Tiny App</title>
</head>
<body>
  <header>
    <%- include('./partials/_header') %>
  </header>
  <main style="margin: 1em;">
    <h1>Login</h1>
    <form
      method="POST" 
      action="/register"
      >
      <h2>Email</h2>
      <input type="email" name="email" placeholder="Enter email">
      <h2>Password</h2>
      <input type="password" name="password" placeholder="Password">
      <div>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </main>
</body>
</html>